<h1>Listado de productos</h1>

{{#if products.length}}
<ul class="product-list">
    {{#each products}}
    <li class="product-card">
        <strong>{{this.title}}</strong>
        <span>$ {{this.price}}</span>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No hay productos cargados.</p>
{{/if}}