<h2>Administración de Productos</h2>

<form id="productForm">
    <input name="title" placeholder="Nombre" required>
    <input name="description" placeholder="Descripción" required>
    <input name="price" placeholder="Precio" required>
    <input name="image" placeholder="URL imagen" required>
    <button>Agregar</button>
</form>

<div id="productsContainer"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>

