<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Backend Coderhouse</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header class="main-header">
        <h2>📱 CellStore</h2>
        <nav>
            <a href="/">Inicio</a>
        </nav>
    </header>

    <main class="container">
        {{{body}}}
    </main>
    
<footer class="main-footer">
    <p>CellStore © 2025 - Proyecto Backend Coderhouse</p>
</footer>

</body>
</html>

